Categories:
  - Science & Education
License: GPL-3.0-or-later
SourceCode: https://github.com/isomorphismes/wegert
IssueTracker: https://github.com/isomorphismes/wegert/issues

Name: zero & infinity

RepoType: git
Repo: https://github.com/isomorphismes/wegert.git

Builds:
  - versionName: 0.2.0
    versionCode: 101
    commit: __SOURCE_COMMIT__
    submodules: true
    sudo:
      - apt-get update
      - apt-get install -y build-essential ca-certificates chezscheme cmake libgmp-dev python3 unzip zip
    output: build/direct/wegert-direct-unsigned.apk
    rm:
      - app/wegert-debug.keystore
      - complex_math_ick.o
    prebuild:
      - sdkmanager "platforms;android-36" "build-tools;36.0.0"
    build:
      - bash android-direct/generate-dex.sh build/direct/classes.dex
      - ANDROID_NDK_HOME=$$NDK$$ ANDROID_SDK_ROOT=$$SDK$$
        ANDROID_BUILD_TOOLS=$$SDK$$/build-tools/36.0.0
        bash android-direct/build.sh build/direct/classes.dex build/direct/wegert-direct-unsigned.apk
    ndk: 29.0.14206865

AutoUpdateMode: Version
UpdateCheckMode: Tags ^v[0-9]+\.[0-9]+\.[0-9]+$
CurrentVersion: 0.2.0
CurrentVersionCode: 101
